<header>
    <h1>Perfil de Usuario</h1>
</header>
<div class="container">
    <div class="profile-picture">
        <img src="../assets/images/users/1.jpg" alt="Imagen de perfil">
    </div>
    <div class="user-details">
        <h2>Nombre de Usuario</h2>
        <p>Correo electrónico: usuario@example.com</p>
        <p>Ubicación: Ciudad, País</p>
        <p>Descripción del usuario: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="button-container">
        <button class="edit-profile-button">Editar Perfil</button>
    </div>