.accordion {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px auto;
}

.accordion-item {
    border: 1px solid #ccc;
    margin: 5px;
    overflow: hidden;
    border-radius: 5px;
}

.accordion-button {
    width: 100%;
    padding: 10px;
    text-align: left;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.accordion-content {
    display: none;
}

.active {
    display: block;
}

.accordion-item img {
    width: 100%;
    height: auto;
    display: block;
}